.esetNod{
    width: 600px;
    height:500px;
    background: linear-gradient(to right, rgb(14,95,101), rgb(9, 61, 77));
    position: absolute;
    right: 15%;
    border: 2px solid rgb(6,91,95);;
    font-family: cursive;
    bottom: 5%;
}


.esetNod__container{
height: 50px;
background-color: white;
display: flex;
align-items: center;
border-bottom: 1px solid black;

}


.esetNod__container> img{
    width:60px;
    height: 40px;
   margin-left: 10px; 
}

.esetNod__icons {
display: flex;
position: absolute;
right: 0;
align-items: center;
cursor: pointer;
}

.esetNod__info > h3{
color: rgb(71, 10, 10);
}


.esetNod__info{
text-align: center;
display: block;
justify-content: center;
align-items: center;
margin-top: 210px;
}







.MuiButton-label {
    width: 100%;
    font-weight: 700;
    color: #3a1010;  
}


.right__Image{
    position: absolute;
    margin-bottom:43px;
    height: 300px;
    width: 300px;
    right:0; 

  
}


.left__Image{
    position: absolute;
    margin-bottom:43px;
    height: 300px;
    width: 300px;
    left:0;
  

}

.eset__Image{
height: 80px;
width: 80px;
margin-left: 260px;
margin-top: 10px;

}

.esetNod__info > .MuiButton-root{
    font-family: cursive;
}

.esetNod__info > .MuiButtonBase-root{
    border: 2px solid black;
}


@media all and (max-width:768px){
    .esetNod{
    width: 350px;   
    height: 450px;   
    }

    .right__Image{
    height: 230px;
    width: 180px;    
    }

    .left__Image{
    height: 230px;
    width: 180px;    
        }

        .eset__Image{
            width: 50px;
            height: 60px;
            margin-left: 150px;
        }
        .esetNod__info> h3{
            font-size: 13px;
            justify-content: center;
     
        }

        .esetNod__info> h4{
            font-size: 13px;
     
        }
        .esetNod__info{
            margin-top: 180px;
        }

    }



@media all and (max-width:488px){
.esetNod{
top:6%;
 width: 200px;  
 height: 400px;    
}
    
.right__Image{
height: 160px;
width: 100px;    
}
    
.left__Image{
height: 160px;
width: 100px;    
 }
    
.eset__Image{
width: 40px;
height: 50px;
margin-left: 80px;
}



.esetNod__info> h3{
font-size: 12px;
}



.esetNod__info> h4{
font-size: 12px;
}



.esetNod__info{
margin-top: 130px;
}





.esetNod__info > .MuiButtonBase-root{
    height: 30px;

}
 

 .MuiButton-label{
   font-size: 9px;
 

}



}